@Html.ActionLink("", "", "", new { area = "" }, new { @class = "navbar-brand" })

<style>    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
  </style>
  
  <hr />
<footer class="container-fluid text-center">
  <footer class="my-5 pt-5 text-muted text-center text-small">
     <p class="mb-1">&copy; 2018-2020 Company CJC</p>
      <ul class="list-inline">
       <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
   </footer>
</footer>
