
  .boton_2{
    text-decoration: none;
    padding: 40px;
    font-family: arial;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 800;
    font-size: 25px;
    color: white;
    background-color: blue;
  }
  .boton_2:hover{
    color: #9b0e0e;
    background-color: #bc6355;
    text-decoration: none;
  }

  .con{
      background-color: blue;
      font-size: 1px;
      border-width: 1px;
  }


   .tipografia1{
    font-family: Verdana;
    font-family: 'PT Sans';
    text-align: center;
}
