@model SistemaDeTurnos.Models.Usuarios

@{
    ViewData["Title"] = "Edit";
}

@{
    Html.RenderPartial("_navSuperior");   
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="~/Admin/inicio"><span class="glyphicon glyphicon-home"></a></li>
    <li class="breadcrumb-item"><a href="~/Admin/cajaAsegurado">caja</a></li>
    <li class="breadcrumb-item"><a href="~/Usuarios/Index">Registro usuario</a></li>
    <li class="breadcrumb-item active" aria-current="page">Editar usuario</li>
  </ol>
</nav>

<!---->

<img src="~/images/Tuerca_Setting.png" alt="30x20" class="img-rounded" width="72" height="72">

<h2>Editar</h2>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombres" class="control-label"></label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos" class="control-label"></label>
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cedula" class="control-label"></label>
                <input asp-for="Cedula" class="form-control" />
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroAsegurado" class="control-label"></label>
                <input asp-for="NumeroAsegurado" class="form-control" />
                <span asp-validation-for="NumeroAsegurado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Credencial" class="control-label"></label>
                <input asp-for="Credencial" class="form-control" />
                <span asp-validation-for="Credencial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@{
    Html.RenderPartial("_footerInferior");   
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
