@*model SistemaDeTurnos.Models.Turnos-->*@

@{
    ViewData["Title"] = "asegurado";
}

<!--<h1 class="tipografia1">Seguro Medico</h1>-->

<!--banderas-->

    <div class="col-xs-2">
    <ul class="" >
        <!--<li class="" dir="ltr">
            <a href="/ru/">
                <img src="~/images/rus.png" alt="Russian (Russia)" title="Russian (Russia)" width="18" height="12">
            </a>
        </li>-->
            
        <li class="lang-active" dir="ltr">
            <form method="post">
            <input type="hidden" value="español" name="idioma" id="" />
            <button type="submit">
                <img src="~/images/es.png" alt="Español (España)" title="Español (España)" width="44" height="32">
            </button>
            </form>
        </li>
<br>
        <li class="" dir="ltr">
            <form method="post">
            <input type="hidden" value="ingles" name="idioma" id="" />
             <button type="submit"> 
               <img src="~/images/ingla.png" alt="English (UK)" title="English (UK)" width="44" height="32">
             </button>
             </form>
             
        </li>
    </ul>
        </div>
    <div class="col-xs-2">
        <!--logo img-->
    <img src="~/images/img_logo.png" alt="IMG" class="img-rounded" width="700" height="200">
</div>



<!--botones asegurado-->

<br />

<div class="col-xs-12">
    <a href="/setStatus/1" class="btn btn-primary btn-lg" style="width:100%;text-align:center;font-size: 50px;border-width: 30px;">Asegurado</a>
    <a href="/setStatus/0" class="btn btn-danger btn-lg" style="width:100%;text-align:center;font-size: 50px;border-width: 30px;">No asegurado</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



<!--
     onclick = "location='~/Home/menu'"
     src = "~/Home/menu"
     href = "~/Home/menu" 

     http://www.beansoftware.com/ASP.NET-Tutorials/Printing-Reporting.aspx
-->
