@{
    ViewData["Title"] = "asegurado";
}
<!--banderas-->
    <div class="col-xs-2">
    <ul class="">
        <!--<li class="" dir="ltr">
            <a href="/ru/">
                <img src="~/images/rus.png" alt="Russian (Russia)" title="Russian (Russia)" width="18" height="12">
            </a>
        </li>-->
            
        <li class="lang-active" dir="ltr">
            <a href="/es/">
                <img src="~/images/es.png" alt="Espa単ol (Espa単a)" title="Espa単ol (Espa単a)" width="18" height="12">
            </a>
        </li>
        <li class="" dir="ltr">
            <a href="/en/"> <img src="~/images/ingla.png" alt="English (UK)" title="English (UK)" width="18" height="12"></a>
        </li>
    </ul>
        </div>
    <div class="col-xs-2">
        <!--logo img-->
    <img src="~/images/img_logo.png" alt="IMG" class="img-rounded">
</div>



<!--botones asegurado-->

<br />
<div style="width:100%;text-align:center;font-size: 250px;border-width: 30px;"></div>
<div class="col-xs-12">
    <!----> 
    <!---->
    <a href="~/Home/estatus" class="btn btn-primary btn-lg" style="width:100%;text-align:center;font-size: 50px;border-width: 30px;" >Asegurado</a>
    <a href="~/Home/estatus" class="btn btn-danger btn-lg" style="width:100%;text-align:center;font-size: 50px;border-width: 30px;">No asegurado</a>
</div>

</div>