@{
    ViewData["Title"] = "asegurado";
}

@ViewData["Title"]

<img src="/media/mod_falang/images/es_es.gif" alt="Espa単ol (Espa単a)" title="Espa単ol (Espa単a)" width="18" height="12">

<img src="~/images/img_logo.jpg" alt="IMG" class="img-rounded">

<a href="~/Home/menu" class="btn btn-primary btn-lg">Comun</a>
<a href="~/Home/credencial" class="btn btn-primary btn-lg">Vip</a>
<a href="~/Home/credencial" class="btn btn-primary btn-lg">Discapacitado</a>

