
@{
    ViewData["Title"] = "credencial";
}

<a href="~/Home/estatus" class="btn btn-success" style="font-size: 25px;">
 <img src="~/images/flechaAtras.png" alt="30x20" class="img-rounded" width="22" height="22">
</a>

<h1>Credencial</h1>
<p>Credencial VIP o Discapacita</p>

<div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    <input id="password" type="password" class="form-control" name="password" placeholder="" style="">
</div>
<a href="~/Home/menu" class="btn btn-success" style="font-size: 25px;">Ingresar</a>



