
@{
    ViewData["Title"] = "credencial";
}

<h1>Credencial</h1>

<p>Credencial VIP o Discapacita</p>

<div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    <input id="password" type="password" class="form-control" name="password" placeholder="" style="">
</div>


