@{
    ViewData["Title"] = "detallesEstatus";
}

<!--barra superior-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="~/Home/cajaAsegurado">Caja Asegurado</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Usuarios <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="~/Home/RegistroEstatus">Registro de usuarios</a></li>
          <li><a href="~/Home/AgregarEstatus">Agregar usuario</a></li>
        </ul>
      </li>
      <li><a href="~/Home/historialDiario">Historial Diario</a></li>
    </ul>
     <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
      </ul>
  </div>
</nav>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="~/Home/cajaAsegurado"><span class="glyphicon glyphicon-home"></span></a></li>
    <li class="breadcrumb-item"><a href="~/Home/RegistroEstatus">RegistroUsuario</a></li>
    <li class="breadcrumb-item active" aria-current="page">DetallesUsuario</li>
  </ol>
</nav>

<!--lista-->
<div class="container">
 <img src="~/images/Historial.png" alt="30x20" class="img-rounded" width="72" height="72">
  <h2>Detalles del usuario</h2>
   <div class="list-group">
    <a href="#" class="list-group-item"><b>Nombres:</b> Christopher</a>
    <a href="#" class="list-group-item"><b>Apellidos:</b> lopez</a>
    <a href="#" class="list-group-item"><b>Cedula:</b> 40235186-9</a>
    <a href="#" class="list-group-item"><b>Credencial:</b> 001</a>
    <a href="#" class="list-group-item"><b>Numero de seguro:</b> 65489</a>
    <a href="#" class="list-group-item"><b>Estatus:</b>	VIP</a>
  </div>
</div>

<!--barra inferior-->
<footer class="container-fluid text-center">
  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2018-2020 Company CJC</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>        
        <li class="list-inline-item"><a href="#">Support</a></li>
       </ul>
   </footer>
</footer>
