
@{
    ViewData["Title"] = "estatus";
}


@*<div class="navbar-collapse collapse">
     <ul class="nav navbar-nav">
    <li><a asp-area="" asp-controller="Home" asp-action="menu">VIP</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="menu">DIS</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="menu">COMUN</a></li>
     </ul>
    </div>*@



<!--<div class="card mb-3">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <img class="card-img-bottom" src="..." alt="Card image cap">
</div>




<a type="button" class="btn btn-primary active">
    Comun
    <li> <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <span class=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font></span> </li>
</a>

<a type="button" class="btn btn-primary active">
    Discapacitado
    <li> <span class="glyphicon glyphicon-alert" aria-hidden="true"></span> <span class="glyphicon-class"></span> </li>

</a>

<a type="button" class="btn btn-primary active">
    VIP
    <span class="glyphicon-class">glyphicon glyphicon-warning-sign</span>
</a>
-->


<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img data-src="..." alt="...">
            <div class="caption">
                <h3>VIP</h3>
                <p></p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">Botón</a>
                    <a href="#" class="btn btn-default" role="button">Botón</a>
                </p>
            </div>
        </div>
    </div>
</div>