
@{
    ViewData["Title"] = "estatus";
}
<h1 class="tipografia1">Estatus</h1>


    <div class="">
        <div class="col-xs-4 ">
            <div class="thumbnail">               
                <div class="caption">                                       
                    <a href="~/Home/menu" class="btn btn-primary" role="button">
                        <img src="~/images/comun.png" alt="30x20" class="img-rounded">
                        <h1>Comun</h1>
                    </a>
                </div>
            </div>
        </div>
    </div>

<<<<<<< HEAD

=======
<div class="">
>>>>>>> c6f05590d395c231054f1696501ee45d5b85bba2
    <div class="">
        <div class="">
            <div class="col-xs-4 ">
                <div class="thumbnail">
                    <div class="caption">
                        <a href="~/Home/credencial" class="btn btn-primary btn-sm">
                            <img src="~/images/vip.jpg" alt="30x20" class="img-rounded">
                            <h1>VIP</h1>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="thumbnail">
                <div class="caption">
                    <a href="~/Home/credencial" class="btn btn-primary" role="button">
                       <img src="~/images/disc.jpg" alt="30x20" class="img-rounded">
                       <h1>Discapacitados</h1>
                    </a>
                </div>
            </div>
        </div>
   </div>

