@{
    ViewData["Title"] = "estatus";
}
<div class="navbar-collapse collapse">
     <ul class="nav navbar-nav">
    <li><a asp-area="" asp-controller="Home" asp-action="menu">VIP</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="menu">DIS</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="menu">COMUN</a></li>    
     </ul>
    </div>
