
@{
    ViewData["Title"] = "estatus";
}
<h1 class="tipografia1">Estatus</h1>


    <div class="">
        <div class="col-xs-4 ">
            <div class="thumbnail">               
                <div class="caption">                                       
                    <a href="~/Home/menu" class="btn btn-primary" role="button">
                        <img src="~/images/C1.jpg" alt="30x20" class="img-rounded">
                        <h1>Comun</h1>
                    </a>
                </div>
            </div>
        </div>
    </div>


<div class="">
    <div class="">
        <div class="col-xs-4 ">
            <div class="thumbnail">
                <div class="caption">
                    <a href="~/Home/credencial" class="btn btn-primary btn-sm">
                      <img src="~/images/vip.jpg" alt="30x20" class="img-rounded">
                      <h1>VIP</h1>              
                    </a>                                           
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="thumbnail">
                <div class="caption">
                    <a href="~/Home/credencial" class="btn btn-primary" role="button">
                       <img src="~/images/in.jpg" alt="30x20" class="img-rounded">
                       <h1>Discapacitados</h1>
                    </a>
                </div>
            </div>
        </div>
   </div>

