@{
    ViewData["Title"] = "estatus";
}
<h1 class="tipografia1"><b>Estatus</b></h1>

<a href="~/Home/asegurado" class="btn btn-success" style="font-size: 25px;">
 <img src="~/images/flechaAtras.png" alt="30x20" class="img-rounded" width="32" height="32">
</a>

<hr />
<!--@ViewBag.Seguro-->
    <div class="">
        <div class="col-xs-4 ">
            <div class="">               
                <div class="caption">                                       
                    <a href="~/Home/menu" class="btn btn-primary" role="button">
                        <img src="~/images/user.png" alt="30x20" class="img-rounded" width="300" height="500">
                        <h1>Usuario General</h1>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <div class="">
            <div class="col-xs-4 ">
                <div class="">
                    <div class="caption">
                        <a href="~/Home/credencial" class="btn btn-primary btn-sm">
                            <img src="~/images/vip.jpg" alt="30x20" class="img-rounded" width="300" height="500">
                            <h1>Membresía</h1>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="">
                <div class="caption">
                    <a href="~/Home/menu" class="btn btn-primary" role="button">
                       <img src="~/images/disc.jpg" alt="30x20" class="img-rounded" width="300" height="500">
                       <h1>Discapacitados</h1>
                    </a>
                </div>
            </div>
        </div>
   </div>
