
@{
    ViewData["Title"] = "historial";
}
<!--tabla del historial-->
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th><h3><b>Ticket</b></h3></th>
        <th><h3><b>Seguro/Insurance</th>
        <th><h3><b>Estatus/Status</b></h3></th>
        <th><h3><b>Area</b></h3></th>
      </tr>
    </thead>
    <tbody>      
      <tr class="success">
        <td><h3><b>1-L</b></h3></td>
        <td><h3><b>Si</b></h3></td>
        <td><h3><b>VIP</b></h3></td>
        <td><h3><b>laboratorio/laboratory</b></h3></td>
      </tr>
      <tr class="success">
        <td><h3><b>2-S</b></h3></td>
        <td><h3><b>Si</b></h3></td>
        <td><h3><b>Comun/Common</b></h3></td>
        <td><h3><b>Sonografia/sonography</b></h3></td>
      </tr>
      <tr class="danger">
        <td><h3><b>3-S</b></h3></td>
        <td><h3><b>Si</b></h3></td>
        <td><h3><b>Comun/Common</b></h3></td>
        <td><h3><b>Sonografia/sonography</b></h3></td>
      </tr>
      <tr class="success">
        <td><h3><b>4-I</b></h3></td>
        <td><h3><b>No</b></h3></td>
        <td><h3><b>Discapacitado/Disabled</b></h3></td>
        <td><h3><b>Imagen/Image</b></h3></td>
      </tr>
      <tr class="info">
        <td><h3><b>5-L</b></h3></td>
        <td><h3><b>Si</b></h3></td>
        <td><h3><b>Comun/Common</b></h3></td>
        <td><h3><b>laboratorio/laboratory</b></h3></td>
      </tr>
      <tr class="warning">
        <td><h3><b>6-L</b></h3></td>
        <td><h3><b>No</b></h3></td>
        <td><h3><b>VIP</b></h3></td>
        <td><h3><b>laboratorio/laboratory</b></h3></td>
      </tr>
      <tr class="warning">
        <td><h3><b>7-I</b></h3></td>
        <td><h3><b>Si</b></h3></td>
        <td><h3><b>Comun/Common</b></h3></td>
        <td><h3><b>Imagen/Image</b></h3></td>
      </tr>
    </tbody>
  </table>
  <!--jumbotrom-->
</div>



