
@{
    ViewData["Title"] = "historial";
}

<div class="container">
  <h2>Cardiologia</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Tiket</th>
        <th>Seguro</th>
        <th>Estatus</th>
      </tr>
    </thead>
    <tbody>      
      <tr class="success">
        <td>1</td>
        <td>Si</td>
        <td>VIP</td>
      </tr>
      <tr class="success">
        <td>2</td>
        <td>Si</td>
        <td>Comun</td>
      </tr>
      <tr class="danger">
        <td>3</td>
        <td>Si</td>
        <td>Comun</td>
      </tr>
      <tr class="success">
        <td>4</td>
        <td>No</td>
        <td>Discapacitado</td>
      </tr>
      <tr class="info">
        <td>5</td>
        <td>Si</td>
        <td>Comun</td>
      </tr>
      <tr class="warning">
        <td>6</td>
        <td>Si</td>
        <td>Comun</td>
      </tr>
      <tr class="warning">
        <td>7</td>
        <td>Si</td>
        <td>Comun</td>
      </tr>
      <tr class="warning">
        <td>8</td>
        <td>Si</td>
        <td>Comun</td>
      </tr>
      <tr class="warning">
        <td>9</td>
        <td>No</td>
        <td>VIP</td>
      </tr>
    </tbody>
  </table>
  <div class="jumbotron">
</div>
</div>



