
@{
    ViewData["Title"] = "historial";
}
<!--tabla del historial-->
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th><h3>#</h3></th>
        <th><h3>Seguro/Insurance</th>
        <th><h3>Estatus/Status</h3></th>
      </tr>
    </thead>
    <tbody>      
      <tr class="success">
        <td><h3><h3>1</h3></td>
        <td><h3>Si</h3></td>
        <td><h3>VIP</h3></td>
      </tr>
      <tr class="success">
        <td><h3>2</h3></td>
        <td><h3>Si</h3></td>
        <td><h3>Comun/Common</h3></td>
      </tr>
      <tr class="danger">
        <td><h3>3</h3></td>
        <td><h3>Si</h3></td>
        <td><h3>Comun/Common</h3></td>
      </tr>
      <tr class="success">
        <td><h3>4</h3></td>
        <td><h3>No</h3></td>
        <td><h3>Discapacitado/Disabled</h3></td>
      </tr>
      <tr class="info">
        <td><h3>5</h3></td>
        <td><h3>Si</h3></td>
        <td><h3>Comun/Common</h3></td>
      </tr>
      <tr class="warning">
        <td><h3>6</h3></td>
        <td><h3>No</h3></td>
        <td><h3>VIP</h3></td>
      </tr>
      <tr class="warning">
        <td><h3>7</h3></td>
        <td><h3>Si</h3></td>
        <td><h3>Comun/Common</h3></td>
      </tr>
    </tbody>
  </table>
  <!--jumbotrom-->
</div>



