@{
    ViewData["Title"] = "Index";
}

<!--
nombre de pantallas
pan1 = index
pan2 = asegurado
pan3 = estatus
-->

<div>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</div>


<div class="well well-lg;" style="width:100%;text-align:center; background-color: #000764;">

    <h1
        
        style=" text-shadow: 0 0 0 5px #FFFFFF;border-style: groove ;border-width: 30px;" >WELCOM to!
        
    </h1>
      



</div>


    <img src="~/images/LOGO-IMG2.png" alt="IMG" class="img-rounded">

    <div style="width:100%;text-align:center; border-style: groove; background-color: #000764; border-width: 30px;">
                      
        <a href="~/Home/asegurado" class="btn btn-primary btn-sm" ; style="font-size: 100px;">INICIAR</a>
        
    </div>















    <!--<span class="glyphicon glyphicon-picture" aria-hidden="true"></span>-->
    <!--<div class="container">
        <button class="w3-button w3-right w3-gray"><h3> CONFIG &raquo;</h3></button>
        <button class="w3-button w3-right w3-yellow"><h3> VIP &raquo;</h3></button>
        <button class="w3-button w3-right w3-blue"><h3> DISC &raquo;</h3></button>
    </div>-->
    <!--<div class="container">
      <h1 class="text-muted">Pida un ticket</h1>
    </div>

    <div class="container">
     <div class="btn-group btn-group-justified">
      <a href="#" class="btn btn-primary"><h1>Laboratorio</h1></a>
      <a href="#" class="btn btn-primary"><h1>Endoscopia</h1></a>
      <a href="#" class="btn btn-primary"><h1>Patologia</h1></a>
     </div>
        <hr>
     <div class="btn-group btn-group-justified">
      <a href="#" class="btn btn-primary"><h1>Cardiologia</h1></a>
      <a href="#" class="btn btn-primary"><h1>Neurologia</h1></a>
      <a href="#" class="btn btn-primary"><h1>Pruebas de imagen</h1></a>
     </div>
    </div>
    -->
