@{
    ViewData["Title"] = "Index";
}


                                                    @* BORDE DE ARRIBA *@
<div class="well well-lg;" style="width:100%; border-style: groove; background-color: #000764;
text-shadow: 0 0 0 5px #FFFFFF;  border-width: 20px; font-size: 30px; text-align:center ;" >WELCOM to!
</div>
       

                                     @* IMAGENES DE INICIO *@
<img src="~/images/LOGO23.jpg" alt="IMG" class="img-rounded" style="text-align:left" width="100" height="400" /> @*LOGO DE LA IMAGEN*@
<img src="~/images/LOGO-SIN LOGO.jpg" alt="IMG" class="img-rounded" width="920" height="280" />
<img src="~/images/LOGO23.jpg" alt="IMG" class="img-rounded" style="text-align:right" width="100" height="400" /> @*LOGO DE LA IMAGEN*@

      

                              
                                            @* BOTON INICIAL *@
<div style="width:100%; text-align:center; border-style: groove; background-color: #000764; border-width: 20px;">
    <a href="~/Home/asegurado" class="btn btn-primary btn-sm" style="font-size: 100px;background-color: #000764">INICIAR</a>
</div>














