@{
    ViewData["Title"] = "Menu";
}



<a class="btn btn-primary btn-lg" style="width:75%;text-align:center;font-size: 50px;border-width: 30px;">Laboratorio</a>
<a class="btn btn-primary btn-lg" style="width:75%;text-align:center;font-size: 50px;border-width: 30px;">Imagen</a>
<a class="btn btn-primary btn-lg" style="width:75%;text-align:center;font-size: 50px;border-width: 30px;">Sonografia</a>