@{
    ViewData["Title"] = "Menu";
}
<h1 class="tipografia1"><b>Menu</b></h1>



<div class="">
    <div class="col-xs-4 ">
        <div class="">
            <div class="caption">              
                    <a href="~/Home/index" class="btn btn-primary" role="button">
                        <img src="~/images/laboratorio.png" alt="30x20" class="img-rounded;"width="300" height="500">
                        <h3>Laboratorio</h3>
                   </a>
            </div>
        </div>
    </div>
</div>

<div class="">
    <div class="col-xs-4 ">
        <div class="">
            <div class="caption">
                <a href="~/Home/index" class="btn btn-primary" role="button">
                    <img src="~/images/sonografia.jpg" alt="30x20" class="img-rounded"width="300" height="500">
                    <h3>Sonografias</h3>
                </a>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-sm-4">
        <div class="">
            <div class="caption">                
                <a href="~/Home/index" class="btn btn-primary" role="button">
                    <img src="~/images/imagen.jpg" alt="30x20" class="img-rounded"width="300" height="500">
                    <h3>Imagen</h3>
                </a>
            </div>
        </div>
    </div>
</div>