@{
    ViewData["Title"] = "Menu";
}




<div class="">
    <div class="col-xs-4 ">
        <div class="thumbnail">
            <img src="~/images/laboratorio.png" alt="30x20" class="img-rounded;">
            <div class="caption">
                <h3>Laboratorio</h3>
                <p></p>
                <p>
                    <a href="~/Home/index" class="btn btn-primary" role="button">Botón</a>

                </p>
            </div>
        </div>
    </div>
</div>

<div class="">
    <div class="col-xs-4 ">
        <div class="thumbnail">
            <img src="~/images/sonografia.jpg" alt="30x20" class="img-rounded">
            <div class="caption">
                <h3>Sonografias</h3>
                <p></p>
                <p>
                    <a href="~/Home/index" class="btn btn-primary" role="button">Botón</a>

                </p>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-sm-4">
        <div class="thumbnail">
            <img src="~/images/imagen.jpg" alt="30x20" class="img-rounded">
            <div class="caption">
                <h3>Imagen</h3>
                <p></p>
                <p>
                    <a href="~/Home/index" class="btn btn-primary" role="button">Botón</a>

                </p>
            </div>
        </div>
    </div>
</div>