@{
    ViewData["Title"] = "opcionesimagenes";
}

<div class="">
    <div class="col-xs-4 ">
        <div class="">
            <div class="caption">
                <a href="~/Home/index" class="btn btn-primary" role="button">
                    <img src="~/images/sonografia.jpg" alt="30x20" class="img-rounded" width="200" height="300">
                    <h3>Sonografias</h3>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="">
    <div class="col-xs-4 ">
        <div class="">
            <div class="caption">
                <a href="~/Home/index" class="btn btn-primary" role="button">
                    <img src="~/images/rayosx.jpg" alt="30x20" class="img-rounded" width="200" height="300">
                    <h3>Rayos X</h3>
                </a>
            </div>
        </div>
    </div>
</div>

 <div class="row">
    <div class="col-sm-4">
        <div class="">
            <div class="caption">
                <a href="~/Home/index" class="btn btn-primary" role="button">
                    <img src="~/images/Resonancia.jpg" alt="30x20" class="img-rounded" width="200" height="300">
                    <h3>Resonancia</h3>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="">
            <div class="caption">
                <a href="~/Home/index" class="btn btn-primary" role="button">
                    <img src="~/images/mamografica.jpg" alt="30x20" class="img-rounded" width="200" height="300">
                    <h3>Mamografia</h3>
                </a>
            </div>
      </div>
</div>
<div class="row">
        <div class="col-sm-4">
            <div class="">
                <div class="caption">
                    <a href="~/Home/index" class="btn btn-primary" role="button">
                        <img src="~/images/densitometria.jpg" alt="30x20" class="img-rounded" width="200" height="300">
                        <h3>Densitometria</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>