@{
    ViewData["Title"] = "Registro Estatus";
}
 
 <!--barra superior-->
 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="~/Home/cajaAsegurado">Caja Asegurado</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Usuarios <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="~/Home/RegistroEstatus">Registro de usuarios</a></li>
          <li><a href="~/Home/agregarEstatus">Agregar usuario</a></li>
        </ul>
      </li>
      <li><a href="~/Home/historialDiario">Historial Diario</a></li>
    </ul>
     <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group input-group">
          <input type="text" class="form-control" placeholder="Search..">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>        
        </div>
      </form>
  </div>
</nav>


<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="~/Home/cajaAsegurado"><span class="glyphicon glyphicon-home"></span></a></li>
    <li class="breadcrumb-item active" aria-current="page">RegistroUsuario</li>
  </ol>
</nav>

<h2>Registro de Usuarios</h2>
<a href="~/Home/agregarEstatus" class="btn btn-primary" style="font-size: 25px;">Agregar</a>


<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Cedula</th>
            <th scope="col">Credencial</th>
            <th scope="col">Seguro</th>
            <th scope="col">Estatus</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Christopher</td>
            <td>lopez</td>
            <td>40235186-9</td>
            <td>001</td>
            <td>65489</td>
            <td>VIP</td>
            <td>
                <a class="btn btn-success"  href="~/Home/detallesEstatus"> Detalles</a>
                <a class="btn btn-primary" href="~/Home/Editar_Estatus">Editar</a>
                <a class="btn btn-danger" href="~/Home/eliminarEstatus" >Eliminar</a>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Christopher</td>
            <td>lopez</td>
            <td>40235186-9</td>
            <td>001</td>
            <td>65489</td>
            <td>VIP</td>
            <td>
                <a class="btn btn-success"  href="~/Home/detallesEstatus"> Detalles</a>
                <a class="btn btn-primary" href="~/Home/Editar_Estatus">Editar</a>
                <a class="btn btn-danger" href="~/Home/eliminarEstatus" >Eliminar</a>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Christopher</td>
            <td>lopez</td>
            <td>40235186-9</td>
            <td>001</td>
            <td>65489</td>
            <td>VIP</td>
            <td>
                <a class="btn btn-success"  href="~/Home/detallesEstatus"> Detalles</a>
                <a class="btn btn-primary" href="~/Home/Editar_Estatus">Editar</a>
                <a class="btn btn-danger" href="~/Home/eliminarEstatus" >Eliminar</a>
            </td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Christopher</td>
            <td>lopez</td>
            <td>40235186-9</td>
            <td>001</td>
            <td>65489</td>
            <td>VIP</td>
            <td>
                <a class="btn btn-success"  href="~/Home/detallesEstatus"> Detalles</a>
                <a class="btn btn-primary" href="~/Home/Editar_Estatus">Editar</a>
                <a class="btn btn-danger" href="~/Home/eliminarEstatus" >Eliminar</a>
</tr>

        <tr>
            <th scope="row">5</th>
            <td>Christopher</td>
            <td>lopez</td>
            <td>40235186-9</td>
            <td>001</td>
            <td>65489</td>
            <td>VIP</td>
            <td>
                <a class="btn btn-success"  href="~/Home/detallesEstatus"> Detalles</a>
                <a class="btn btn-primary" href="~/Home/Editar_Estatus">Editar</a>
                <a class="btn btn-danger" href="~/Home/eliminarEstatus" >Eliminar</a>
            </td>
        </tr>

        <tr>
            <th scope="row">6</th>
            <td>Christopher</td>
            <td>lopez</td>
            <td>40235186-9</td>
            <td>001</td>
            <td>65489</td>
            <td>VIP</td>
            <td>
                <a class="btn btn-success"  href="~/Home/detallesEstatus"> Detalles</a>
                <a class="btn btn-primary" href="~/Home/Editar_Estatus">Editar</a>
                <a class="btn btn-danger" href="~/Home/eliminarEstatus" >Eliminar</a>
            </td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>Christopher</td>
            <td>lopez</td>
            <td>40235186-9</td>
            <td>001</td>
            <td>65489</td>
            <td>VIP</td>
            <td>
                <a class="btn btn-success"  href="~/Home/detallesEstatus"> Detalles</a>
                <a class="btn btn-primary" href="~/Home/Editar_Estatus">Editar</a>
                <a class="btn btn-danger" href="~/Home/eliminarEstatus" >Eliminar</a>
            </td>
        </tr>
    </tbody>
</table>    
        
<footer class="container-fluid text-center">
  <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2018-2020 Company CJC</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
        </footer>
</footer>
