@{
    ViewData["Title"] = "cajaAsegurado";
}

@{
    Html.RenderPartial("_navSuperior");   
}

<!--columna izquierda-->
<div class="container text-center">    
  <div class="row">
    <div class="col-sm-3 well">
      <div class="well">
        <a href="~/Usuarios/index" class="btn btn-primary btn-lg">        
         <p>Usuarios</p>
          <img src="~/images/user.png" alt="Paris" width="40" height="40">
        </a>

      </div>
      <div class="well">
        <a href="~/Admin/historialDiario" class="btn btn-success btn-lg">
         <p>Historial Diario</p>
          <img src="~/images/historial.png" alt="Paris" width="40" height="40">
        </a>
      </div>
      <div class="col-sm-12">
        <!--<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <p><strong>Ey!</strong></p>
        People are looking at your profile. Find out who.
      --></div><!--
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
    --></div>

    <!--lista o historial de turnos-->
    <div class="col-sm-7">
    
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default text-left">
            <div class="panel-body">
              <div class="container">
                <div class="col-sm-6 well">
                  <h2></h2>
                  <table class="table">
                    <thead>
                      <tr>
                        <th><b>Ticket</b></th>
                        <th><b>Estatus</b></th>
                        <th><b>Area</b></th>
                      </tr>
                    </thead>
                    <tbody>      
                      <tr class="success">
                        <td><b>1-L</b></td>
                        <td><b>VIP</b></td>
                        <td><b>laboratorio</b></td>
                      </tr>
                      <tr class="danger">
                        <td><b>2-S</b></td>
                        <td><b>Comun</b></td>
                        <td><b>Sonografia</b></td>
                      </tr>
                      <tr class="success">
                        <td><b>3-S</b></td>
                        <td><b>Comun</b></td>
                        <td><b>Sonografia</b></td>
                      </tr>
                      <tr class="info">
                        <td><b>4-I</b></td>
                        <td><b>Discapacitado</b></td>
                        <td><b>Imagen</b></td>
                      </tr>
                      <tr class="warning">
                        <td><b>6-L</b></td>
                        <td><b>VIP</b></td>
                        <td><b>laboratorio</b></td>
                      </tr>
                      <tr class="warning">
                        <td><b>5-L</b></td>
                        <td><b>Comun</b></td>
                        <td><b>laboratorio</b></td>
                      </tr>
                      <tr class="warning">
                        <td><b>7-I</b></td>
                        <td><b>Comun</b></td>
                        <td><b>Imagen</b></td>
                      </tr>
                      <tr class="warning">
                        <td><b>8-I</b></td>
                        <td><b>Comun</b></td>
                        <td><b>Imagen</b></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
          </div>
        </div>
      </div>
</div>
      
<!--columna derecha-->
      <div class="row">       
      </div>     
    </div>
    <div class="col-sm-2 well">
      <div class="thumbnail">
        <li class="list-group-item list-group-item-info"><h1><b>4</b></h1></li>
        </div>
        <div class="well">
        <a class="btn btn-primary">
        <img src="~/images/play.png" alt="play" width="50" height="50">
        </a>
      </div>      
      <div class="well">
          <li class="list-group-item list-group-item-danger"> <img src="~/images/botonRojo.png" alt="Paris" width="20" height="20"><p>2-S / Comun  / Sonografia</p></li>
      </div>
    </div>
  </div>
</div>

@{
    Html.RenderPartial("_footerInferior");   
}