@{
    ViewData["Title"] = "cajaAsegurado";
}

@{
    Html.RenderPartial("_navSuperior");   
}

<!--columna derecha-->
      <div class="row">       
           
    
        <div class="well">
        <a class="btn btn-primary">
        <img src="~/images/play.png" alt="play" width="50" height="50">
        </a>
  </div>
</div>



@{
    Html.RenderPartial("_footerInferior");   
} 